body,html{
	height: 100%;
	width: 100%;
    /* background: url(../img/principal.jpg) no-repeat center top; */
    background-size: cover; 
    font-family: serif;
} 

.navbar{
    background-color: #a8b5e0;
    border-radius: 20px;
}

